#eventVideosContainer{
    z-index: 929;
    background: rgba(95, 105, 107,0.9);
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}
#eventVideos{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    position: relative;
}
#eventVideos > .row{
    display:flex;
    justify-content: center;
    gap:45px;
}
#eventVideos >.row >.videos{
    position: relative;
    width:210px;
    height:150px;
}
#eventVideos >.row >.videos img{
    position: absolute;
    width:100%;
    height:100%;
}
#eventVideos >.row >.videos > .redCrown{
    opacity:0;
    transition: 0.3s ease;
}
#eventVideos >.row >.videos:hover > .redCrown{
    opacity:1;
}

.eventbackButton{
    width: 80px;
    height: 70px;
    position: absolute;
    right: 100px;
    bottom: 60px;
    background: url(../Rain-Blood-Chronicles-Mirage/exitBtn01.png) no-repeat center;
    background-size: 140% 140%;
}
.eventbackButton:hover{
    background: url(../Rain-Blood-Chronicles-Mirage/exitBtn02.png) no-repeat center;
    background-size: 140% 140%;
}
