#menuSetting{
    position: relative;
}

#Setting{
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(95, 105, 107,0.9);
    display: none;
}

.resolutiongraphicContainer{
    width: 850px;
    height: 180px;
    margin: 0 auto;
    background:url(../Rain-Blood-Chronicles-Mirage/setting/shadow2.png)no-repeat center;
    background-size:100% 95%;
    position: relative;
    display: flex;
    align-items: center;
    gap:30px;
    font-size: 12px;
    justify-content: center;
}
#QualityContainer{
    gap: 55px;
    font-size: 15px;
}
#resolutionItemsContainer{
    display: flex;
    align-items: center;
    gap:30px;
    border: 1px solid red;
}
.SettingText{
    color: white;
    font-family: anime;
}
#checklistContainer{
    display: flex;
    margin: 0 auto;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}
.checkListSetting{
    width: 250px;
    height: 70px;
    background: url(../Rain-Blood-Chronicles-Mirage/setting/shadow3.png)no-repeat center;
    background-size:100% 100%;
    display: flex;
    color: white;
    align-items: center;
    font-family: anime;
    font-size: 12px;
}
.checkListSetting > img{
    width: 30%;
    height: 100%;
}
#practicalSettingContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px
}

.practicalSettingItem{
    width: 750px;
    height: 55px;
    margin: 0 auto;
    background: url(../Rain-Blood-Chronicles-Mirage/setting/shadow1.png) no-repeat center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: anime;
}
.practicalSettingItem > img{
    height:40px;
    width: 600px;
}
#settingConfirmButton{
    margin: 0 auto;
    color: white;
    background: url(../Rain-Blood-Chronicles-Mirage/setting/shadow3.png) no-repeat center;
    background-size: 100% 90%;
    width: 400px;
    height: 50px;
    text-align: center;
    align-content: center;
    font-size: 18px;
    font-family: anime;
    margin-top: 20px;
}
#settingConfirmButton:hover{
    color: red;
}

/* ready class for js */
