#menuSetting{
    position: relative;
}
#Setting{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(95, 105, 107,0.7);
    display: flex;    
}
#resolutionContainer{
    border: 1px solid red;
    width: 900px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    background:url(../Rain-Blood-Chronicles-Mirage/setting/shadow2.png)no-repeat center;
    background-size:100% 95%;
    position: relative;
}