#menuSetting{
    position: relative;
}
#Setting{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(95, 105, 107,0.7);
    display: flex;  
    flex-direction: column;  
}
.resolutiongraphicContainer{
    border: 1px solid red;
    width: 900px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    background:url(../Rain-Blood-Chronicles-Mirage/setting/shadow2.png)no-repeat center;
    background-size:100% 95%;
    position: relative;
    display: flex;
    align-items: center;
    gap:30px;
    font-size: 12px;
    justify-content: center;
}
#QualityContainer{
    gap: 55px;
    font-size: 15px;
}
.resolutiongraphicContainer > .SettingText{
    color: white;
    font-family: anime;
}
#checklistContainer{
    display: flex;
    margin: 0 auto;
    gap: 50px;
}
.checkListSetting{
    width: 250px;
    height: 70px;
    border: red 1px solid;
    background: url(../Rain-Blood-Chronicles-Mirage/setting/shadow3.png)no-repeat center;
    background-size:100% 100%;
    display: flex;
    color: white;
    align-items: center;
    font-family: anime;
    font-size: 15px;
}
.checkListSetting > img{
    width: 30%;
    height: 100%;
}
#practicalSettingContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.practicalSettingItem{
    border: 1px solid red;
    width: 700px;
    height: 70px;
    margin: 0 auto;
    background: url(../Rain-Blood-Chronicles-Mirage/setting/shadow1.png) no-repeat center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: anime;
}
.practicalSettingItem > img{
    height:40px;
    width: 600px;
}