#level1pageContainer{
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: none;
}
#level1pageContainer > img{
    height: 100%;
    position: relative;
}
.level1ground{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
}