#level1pageContainer{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#level1pageContainer > img{
    height: 100%;
    position: relative;
}
.level1ground{
    width: 100%;
    background: red;
    height: 150px;
    position: absolute;
    bottom: 0;
}
#player{
    border: 1px solid red;
    width: 50px;
    height: 110px;
    background:url(../../Rain-Blood-Chronicles-Mirage/standing/right1.png) no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: 200px;
    left: 102px;
}